*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --black : #000000;
    --darkBlue : #010512;
    --blue : #0338e6;
    --orange : #f58928;
    --pink : #fb84d6;
    --white : #f7f1f5;
    --transparent : #ffffff00;
    --kranto : "Kranto", sans-serif;
    --fatFace : "Fatface", sans-serif;
}

#body {
    background-color: var(--darkBlue);
    width: 100%;
}

.h1 {
    font-family: var(--fatFace);
    font-size: 3rem;
    text-align: center;
    color: var(--white);
    margin-top: 2rem;
    transition: 0.5s;
}

#blindbtn  {
    position: fixed;
    right: 2.5rem;
    width: 3%;
    top: 16.5rem;
    cursor: pointer;
    transition: 0.5s;
}

#blindbtn {
    transform: scale(1.1);
    transition: 0.3s;
}

.icons {
    width: 60%;
    margin: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
}

.icons:hover {
    transform: scale(1.1);
    transition: 0.5s;
}